<!Doctype html>
    <html>
    <head>
        <title>Pawn Killer game</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <table class="field">
        <tr>
        <td class="point" id="0" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="1" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="2" style="border:none"></td>
                <td class="point" id="3" style="border:none"></td>
                <td class="point" id="4" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="5" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="6" style="background-color:yellow; box-shadow:2px 2px red;"></td>
                            <td class="point" id="7" style="border:none"></td>
                <td class="point" id="8" style="border:none"></td>
                <td class="point" id="9" style="background-color:yellow"></td>
                        <td class="point" id="10" style="background-color:yellow"></td>
                        </tr>
            <tr>
        <td class="point" id="11" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="12" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="13" style="border:none"></td>
                <td class="point" id="14" style="border:none"></td>
                <td class="point" id="15" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="16" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="17" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="18" style="border:none"></td>
                <td class="point" id="19" style="border:none"></td>
                <td class="point" id="20" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="21" style="box-shadow: 2px 2px red;"></td>
                        </tr>
            <tr>
        <td class="point" id="22" style="border:none"></td>
                <td class="point" id="23" style="border:none"></td>
                <td class="point" id="24" style="border:none"></td>
                <td class="point" id="25" style="border:none"></td>
                <td class="point" id="26" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="27" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="28" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="29" style="border:none"></td>
                <td class="point" id="30" style="border:none"></td>
                <td class="point" id="31" style="border:none"></td>
                <td class="point" id="32" style="border:none"></td>
                </tr>
            <tr>
        <td class="point" id="33" style="border:none"></td>
                <td class="point" id="34" style="border:none"></td>
                <td class="point" id="35" style="border:none"></td>
                <td class="point" id="36" style="border:none"></td>
                <td class="point" id="37" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="38" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="39" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="40" style="border:none"></td>
                <td class="point" id="41" style="border:none"></td>
                <td class="point" id="42" style="border:none"></td>
                <td class="point" id="43" style="border:none"></td>
                </tr>
            <tr>
        <td class="point" id="44" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="45" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="46" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="47" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="48" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="49" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="50" style="background-color:yellow; box-shadow:2px 2px red;"></td>
                            <td class="point" id="51" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="52" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="53" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="54" style="box-shadow: 2px 2px red;"></td>
                        </tr>
            <tr>
        <td class="point" id="55" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="56" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="57" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="58" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="59" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="60" style="border:none"></td>
                <td class="point" id="61" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="62" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="63" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="64" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="65" style="box-shadow: 2px 2px red;"></td>
                        </tr>
            <tr>
        <td class="point" id="66" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="67" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="68" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="69" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="70" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="71" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="72" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="73" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="74" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="75" style="background-color:black; box-shadow:2px 2px red;"></td>
                            <td class="point" id="76" style="box-shadow: 2px 2px red;"></td>
                        </tr>
            <tr>
        <td class="point" id="77" style="border:none"></td>
                <td class="point" id="78" style="border:none"></td>
                <td class="point" id="79" style="border:none"></td>
                <td class="point" id="80" style="border:none"></td>
                <td class="point" id="81" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="82" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="83" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="84" style="border:none"></td>
                <td class="point" id="85" style="border:none"></td>
                <td class="point" id="86" style="border:none"></td>
                <td class="point" id="87" style="border:none"></td>
                </tr>
            <tr>
        <td class="point" id="88" style="border:none"></td>
                <td class="point" id="89" style="border:none"></td>
                <td class="point" id="90" style="border:none"></td>
                <td class="point" id="91" style="border:none"></td>
                <td class="point" id="92" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="93" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="94" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="95" style="border:none"></td>
                <td class="point" id="96" style="border:none"></td>
                <td class="point" id="97" style="border:none"></td>
                <td class="point" id="98" style="border:none"></td>
                </tr>
            <tr>
        <td class="point" id="99" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="100" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="101" style="border:none"></td>
                <td class="point" id="102" style="border:none"></td>
                <td class="point" id="103" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="104" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="105" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="106" style="border:none"></td>
                <td class="point" id="107" style="border:none"></td>
                <td class="point" id="108" style="background-color:black"></td>
                        <td class="point" id="109" style="background-color:black"></td>
                        </tr>
            <tr>
        <td class="point" id="110" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="111" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="112" style="border:none"></td>
                <td class="point" id="113" style="border:none"></td>
                <td class="point" id="114" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="115" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="116" style="box-shadow: 2px 2px red;"></td>
                        <td class="point" id="117" style="border:none"></td>
                <td class="point" id="118" style="border:none"></td>
                <td class="point" id="119" style="background-color:black"></td>
                        <td class="point" id="120" style="box-shadow: 2px 2px red;"></td>
                        </tr>
            
        </table>
    </body>
    </html>
    