body {
    padding: 0;
    margin: 0;
    background-color: #4ED9C9;
    display: flex;
    justify-content: center;
}

.field {
    width: 800px;
    height: 800px;
    margin: auto;
    position: absolute;
    margin-top: 30px;
    background-color:#A862F0;

}
.point {
    width: 60px;
    height: 60px;
    margin-top: 8px;
    border:0.5px solid black;
    border-radius: 50%;
}

tr{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.line {
    border: 1px solid black;
    position: absolute;
}